@using BDS.Data.Dto;
@model List<Comment>

<h3>Danh sách bình luận</h3>
<hr />

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {

        <div class="col-md-12 noidungcomment">
            <p> @item.Content</p>
        </div>
        if (item.Image.Any())
        {
            <div class="col-md-12 hinhanhcomment">
                @foreach (var img in item.Image)
                {
                    <div class="_item_image">
                        <img src="@img.Url@img.Name" class="myImg img-thumbnail" alt="Thanh Pho" width="300" height="200">
                    </div>
                }
            </div>
        }

        <div class="col-md-12 thontincomment">
            <i>Được tạo bởi </i> <b> @item.User.Name</b> | <i>Ngày tạo: </i> <b>@String.Format("{0:g}", item.CreatedDate)</b>
        </div>
        <div class="col-md-12">
            <hr />
        </div>

    }

}
else
{

}


