@using BDS.Data.Dto;

@model LoginModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Quản trị Website Bất Động Sản</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Assets/admin/css/style.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/morris.css" rel="stylesheet" />
    <!-- Graph CSS -->
    <link href="~/Assets/admin/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/jquery-ui.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Assets/admin/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link href="~/Assets/admin/css/icon-font.min.css" rel="stylesheet" />
    <!-- //lined-icons -->
</head>
<body>
    <div class="main-wthree">
        <div class="container">
            <div class="sin-w3-agile">
                <h2>Đăng nhập</h2>
               @using (Html.BeginForm("Login", "Login", FormMethod.Post))
               {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" });
                    <div class="username">
                        <span class="username">Tên tài khoản:</span>
                        <input type="text" name="UserName" class="name" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="password-agileits">
                        <span class="username">Mật khẩu:</span>
                        <input type="password" name="Password" class="password" placeholder="" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="rem-for-agile">
                        @*<input type="checkbox" name="remember" class="remember">Remember me<br>
                        <a href="#">Forgot Password</a><br>*@
                    </div>
                    <div class="login-w3">
                        <input type="submit" class="login" value="Đăng nhập">
                    </div>
                    <div class="clearfix"></div>
               }                
                <div class="footer">
                    <p>&copy; 2016 Admin . Website bất động sản dành cho người có thu nhập trung bình thấp.</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>