USE [master]
GO
/****** Object:  Database [dbBatDongSan]    Script Date: 26/12/2016 12:59:07 CH ******/
CREATE DATABASE [dbBatDongSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbBatDongSan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbBatDongSan.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbBatDongSan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbBatDongSan_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbBatDongSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbBatDongSan]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comment](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[Content] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Criteria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [nvarchar](500) NULL,
	[Score] [float] NULL,
	[GroupID] [int] NULL,
	[Type] [int] NULL,
	[Description] [ntext] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Criteria] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetailProject]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailProject](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectID] [bigint] NULL,
	[CriteriaID] [int] NULL,
	[Value] [nvarchar](100) NULL,
 CONSTRAINT [PK_DetailProject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[District](
	[ID] [varchar](5) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Type] [nvarchar](30) NULL,
	[Location] [varchar](30) NULL,
	[ProvinceID] [varchar](5) NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GroupCriteria]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GroupCriteria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_GroupCriteria] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Image]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectID] [bigint] NULL,
	[CommentID] [bigint] NULL,
	[Name] [nvarchar](150) NULL,
	[Url] [nvarchar](200) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Like]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectID] [bigint] NULL,
	[UserID] [bigint] NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parameter]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parameter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParaKey] [varchar](50) NULL,
	[Value] [nvarchar](150) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Parameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Project]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Project](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Contact] [ntext] NULL,
	[Price] [float] NULL,
	[UnitPrice] [nvarchar](20) NULL,
	[Acreage] [float] NULL,
	[Status] [nvarchar](50) NULL,
	[Deadline] [datetime] NULL,
	[Description] [ntext] NULL,
	[Lat] [varchar](50) NULL,
	[Long] [varchar](50) NULL,
	[TypeID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Province]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Province](
	[ID] [varchar](5) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Save]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Save](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_Save] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TypeProject]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TypeProject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [nvarchar](150) NULL,
 CONSTRAINT [PK_TypeProject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/12/2016 12:59:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[RoleID] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Criteria] ON 

INSERT [dbo].[Criteria] ([ID], [Code], [Name], [Score], [GroupID], [Type], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Active]) VALUES (1, N'TKTU-01', N'Ít nhất một cửa sổ hướng Đông', 0.1, 1, 1, NULL, CAST(0x0000A6E10127BF13 AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Criteria] ([ID], [Code], [Name], [Score], [GroupID], [Type], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Active]) VALUES (2, N'TKTU-02', N'Ban công rộng 1-1.5m liền kề với phòng khách', 0.1, 1, 1, NULL, CAST(0x0000A6E10128F192 AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[Criteria] ([ID], [Code], [Name], [Score], [GroupID], [Type], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [Active]) VALUES (3, N'TKTU-03', N'Không gian mở riêng biệt như hiên nhà, sàn, sân.', 0.1, 1, 1, NULL, CAST(0x0000A6E101293DD8 AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Criteria] OFF
INSERT [dbo].[District] ([ID], [Name], [Type], [Location], [ProvinceID]) VALUES (N'001', N'Ba Đình', N'Quận', N'21 02 08N, 105 49 38E', N'01')
INSERT [dbo].[District] ([ID], [Name], [Type], [Location], [ProvinceID]) VALUES (N'002', N'Hoàn Kiếm', N'Quận', N'21 01 53N, 105 51 09E', N'01')
INSERT [dbo].[District] ([ID], [Name], [Type], [Location], [ProvinceID]) VALUES (N'003', N'Tây Hồ', N'Quận', N'21 04 10N, 105 49 07E', N'01')
GO
SET IDENTITY_INSERT [dbo].[GroupCriteria] ON 

INSERT [dbo].[GroupCriteria] ([ID], [Code], [Name]) VALUES (1, N'VLKT', N'Vật lý kiến trúc')
INSERT [dbo].[GroupCriteria] ([ID], [Code], [Name]) VALUES (2, N'VT', N'Vị trí')
INSERT [dbo].[GroupCriteria] ([ID], [Code], [Name]) VALUES (3, N'MT', N'Môi trường')
SET IDENTITY_INSERT [dbo].[GroupCriteria] OFF
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([ID], [ProjectID], [CommentID], [Name], [Url]) VALUES (5, 10, NULL, N'DA00001_01.jpg', N'/Images/Project/')
INSERT [dbo].[Image] ([ID], [ProjectID], [CommentID], [Name], [Url]) VALUES (6, 10, NULL, N'DA00002_01.jpg', N'/Images/Project/')
INSERT [dbo].[Image] ([ID], [ProjectID], [CommentID], [Name], [Url]) VALUES (7, 10, NULL, N'DA00003_01.jpg', N'/Images/Project/')
SET IDENTITY_INSERT [dbo].[Image] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

SET IDENTITY_INSERT [dbo].[Project] OFF
INSERT [dbo].[Province] ([ID], [Name], [Type]) VALUES (N'01', N'Hà Nội', N'Thành Phố')
INSERT [dbo].[Province] ([ID], [Name], [Type]) VALUES (N'02', N'Hà Giang', N'Tỉnh')
INSERT [dbo].[Province] ([ID], [Name], [Type]) VALUES (N'04', N'Cao Bằng', N'Tỉnh')
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name], [Description]) VALUES (1, N'Admin', N'Quản trị viên')
INSERT [dbo].[Role] ([ID], [Name], [Description]) VALUES (2, N'Người dùng', N'Người dùng')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[TypeProject] ON 

INSERT [dbo].[TypeProject] ([ID], [Code], [Name]) VALUES (1, N'CC', N'Chung cư')
SET IDENTITY_INSERT [dbo].[TypeProject] OFF
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Criteria] ADD  CONSTRAINT [DF_Criteria_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Criteria] ADD  CONSTRAINT [DF_Criteria_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Image] ADD  CONSTRAINT [DF_Image_CreatedDate]  DEFAULT (getdate()) FOR [Url]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_Price]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_Acreage]  DEFAULT ((0)) FOR [Acreage]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Save] ADD  CONSTRAINT [DF_Save_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Save] ADD  CONSTRAINT [DF_Save_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Project]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Criteria]  WITH CHECK ADD  CONSTRAINT [FK_Criteria_GroupCriteria] FOREIGN KEY([GroupID])
REFERENCES [dbo].[GroupCriteria] ([ID])
GO
ALTER TABLE [dbo].[Criteria] CHECK CONSTRAINT [FK_Criteria_GroupCriteria]
GO
ALTER TABLE [dbo].[DetailProject]  WITH CHECK ADD  CONSTRAINT [FK_DetailProject_Criteria] FOREIGN KEY([CriteriaID])
REFERENCES [dbo].[Criteria] ([ID])
GO
ALTER TABLE [dbo].[DetailProject] CHECK CONSTRAINT [FK_DetailProject_Criteria]
GO
ALTER TABLE [dbo].[DetailProject]  WITH CHECK ADD  CONSTRAINT [FK_DetailProject_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[DetailProject] CHECK CONSTRAINT [FK_DetailProject_Project]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ID])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Province]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Comment] FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([ID])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Comment]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Project]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Project]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_User]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_TypeProject] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TypeProject] ([ID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_TypeProject]
GO
ALTER TABLE [dbo].[Save]  WITH CHECK ADD  CONSTRAINT [FK_Save_Project] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[Project] ([ID])
GO
ALTER TABLE [dbo].[Save] CHECK CONSTRAINT [FK_Save_Project]
GO
ALTER TABLE [dbo].[Save]  WITH CHECK ADD  CONSTRAINT [FK_Save_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Save] CHECK CONSTRAINT [FK_Save_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
