<connectionStrings>
  <add name="dbBatDongSanEntities" connectionString="metadata=res://*/EntityFramework.dbBatDongSan.csdl|res://*/EntityFramework.dbBatDongSan.ssdl|res://*/EntityFramework.dbBatDongSan.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=dbBatDongSan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>