@model IEnumerable<BDS.Data.Dto.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="agile-grids">    
    <div class="agile-tables">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh sách tài khoản</h3>
            </div>
            <div class="title_right">
                <div class="pull-right">
                    @Html.ActionLink("Thêm tài khoản", "Create", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>

        <div class="pull-left">
            <h5>
                <span class="field-validation-error" id="error_message">
                </span>
            </h5>
        </div>

        <div id="list">
            @{Html.RenderAction("UserList", "User");}
        </div>        
    </div>
</div>

@section scripts{
    <script>
        // delete item
        $('.delete_item').on('confirmed.bs.confirmation', function (event) {

            var deleteUrl = '@Url.Action("Delete")' + "/" + $(this).attr('id');
            $.post(deleteUrl, function (data) {
                if (data.length != 0) {
                    $('#list').html(data);
                } else {
                    $('#error_message').html('Không thể xóa dữ liệu đang được sử dụng. ');
                }
            });
        })

        $(document).ready(function () {
            $('select').select2({
                theme: "bootstrap"
            });

            $('[data-toggle="tooltip"]').tooltip({ html: true, animation: true });

            $('#table-no-resize').basictable({
                noResize: true
            });
        });
    </script>
}






